root = true

[*]
charset = utf-8
max_line_length = 120
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_style = space
tab_width = 4
indent_size = 4

ij_kotlin_allow_trailing_comma = false
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ij_kotlin_allow_trailing_comma_on_call_site = false

[*.java]
indent_style = tab
tab_width = 4
indent_size = 4